h1 {
    color: red;
}

/* p { 
    color: blueviolet;
} */


/* penggunaaan titik "." itu sebagai class
   penggunaan .class itu membaca dari atas ke bawah, jadi yang paling akhir yang di baca
   
   penggunaan pagar "#* itu sebagai id */ 


.color {
    /* color: red; */
    /* color: rgb(255,255,234); */
    /* color: rgba(23,140,50,0.1); */
    /* color: hsl(234,255,26); */
    /* color: hsla(244,23,23,0.3); */ 
    /* color: #ff233f; */
}

.biru {
    color: blue;
}

.alignment {
    text-align: center;
}
 
.decoration {
    text-decoration: overline underline purple dotted;
}

.transformation {
    text-transform: uppercase;
}

.spacing {
    text-indent: 20px; 
    letter-spacing:0px; 
    word-spacing:3px; 
    white-space: wrap; 
    line-height: 30px; 
}

.shadow {
    text-shadow: 20px 20px 10px red;
}

#idGreen {
    color: green;
}

/* penggunaan atribut */

[placeholder="html"] {
    color: orange;
}